name = "CompressedBeliefMDPs"
uuid = "0a809e47-b8eb-4578-b4e8-4c2c5f9f833c"
authors = ["Logan-Mondal-Bhamidipaty"]
version = "1.0.1"

[deps]
Bijections = "e2ed5e7c-b2de-5872-ae92-c73ca462fb04"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
Distances = "b4f34e82-e78d-54a5-968a-f98e89d6e8f7"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
Infiltrator = "5903a43b-9cc3-4c30-8d17-598619ec4e9b"
IterTools = "c8e1da08-722c-5040-9ed9-7db0dc04731e"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LocalApproximationValueIteration = "a40420fb-f401-52da-a663-f502e5b95060"
LocalFunctionApproximation = "db97f5ab-fc25-52dd-a8f9-02a257c35074"
MCTS = "e12ccd36-dcad-5f33-8774-9175229e7b33"
ManifoldLearning = "06eb3307-b2af-5a2a-abea-d33192699d32"
MultivariateStats = "6f286f6a-111f-5878-ab1e-185364afe411"
NearestNeighbors = "b8a86587-4115-5ab1-83bc-aa920d37bbce"
POMDPModels = "355abbd5-f08e-5560-ac9e-8b5f2592a0ca"
POMDPTools = "7588e00f-9cae-40de-98dc-e0c70c48cdd7"
POMDPs = "a93abf59-7444-517b-a68a-c42f96afdd7d"
ParticleFilters = "c8b314e2-9260-5cf8-ae76-3be7461ca6d0"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
Bijections = "0.1"
Combinatorics = "1"
Distances = "0.10"
Distributions = "0.25"
Flux = "0.14"
Infiltrator = "1"
IterTools = "1"
LocalApproximationValueIteration = "0.4.3"
LocalFunctionApproximation = "1.1.1"
MCTS = "0.5.5"
ManifoldLearning = "0.9"
MultivariateStats = "0.9, 0.10"
NearestNeighbors = "0.4"
POMDPModels = "0.4.20"
POMDPTools = "0.1.6, 1"
POMDPs = "0.9.6, 1"
ParticleFilters = "0.5.6"
StaticArrays = "1.9.3"
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
